.itemInCart {
  margin-bottom: 5%;
}

.removeButton {
  color: white;
  background-color: red;
}

.red {
  color: red;
}

.price {
  font-weight: bold;
}

.voucherBtn {
  border-radius: 5px;
  background-color: #BDFCC9;
}
